.main-nav{
    width: 30%;
}



.menu-two{
    width: 50%;
}
.header-search{
    width: 50px;
    
}

.lang-button{
    margin-top: 1rem;
}
.search-bar{
    margin-top: 0.8rem;
    border-radius: 0.2rem;
}


.search-bar input{
    width: 10rem !important;
    border-radius: 1rem !important;


}
.menu ul{
    width: 45rem;
    position: relative;
}


  .cbp-item-wrapper {
            width: 100% !important;
        }

        .cbp-item {
            width: 298px !important;
        }

        .font-class {
            font-family: "DM Serif Display", serif !important;
        }
        
